<template name="app">
  <div class="container">
    {{> header}}
    <div class="sliders" id="red"></div>
    <h1>Min inntekt</h1>
    <h5>Sjekk hvordan inntekten din forandres hvis du blir skadet eller varig syk</h5>
    {{> features}}
    <div>
      <h1 class="truncate">{{insurance_premium_calc}}</h1>
    </div>

    {{> chartModule}}
    <section class="row salg">
      <div class="lifetime_loss col s6">
        <div>
          <div>
            <h5>Estimert samlet inntekt du mister på livstid:</h5>
          </div>
          <div>
            <h1 class="truncate">{{salary_loss_lifetime}}</h1>
          </div>
        </div>
      </div>
      <div class="lifetime_loss col s6">
        <div>
          <div>
            <h5>Forsikringspris</h5><br /><br />
          </div>
          <div>
            <h1 class="truncate">{{insurance_premium}}</h1>
          </div>
        </div>
      </div>
      <div>Forsikringsutbetaling i året: {{insurance_payout}}</div>
     <form action="#">
       <p class="range-field">
         <input type="range" id="insurance_payout_range" min="30000" max="200000" value="30000" />
       </p>
     </form>
    </section>




  </div>
  <div class="stbcolor-secondary sixth">
    <div class="container">

      <ul>
        <li>
          <h5>Med inntektssikring har du uansett en fremtid å glede deg til.</h5>
        </li>
      </ul>
      <div class="actions">
        <div class="center-align">
          <a class="stb-btn" target="#" href="https://www.storebrand.no/privat/forsikring/uforeforsikring">Sikre inntekten din nå</a>
          <!--
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@storebrand%20#inntektssikring" data-size="large">
          Tweet
        </a>
        <div class="fb-share-button" data-href="http://konsekvens.herokuapp.com/" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkonsekvens.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
      -->
        </div>
      </div>
      <p class="footer">
      </p>
    </div>
  </div>
  <div> <!--style="display:none;"-->
    {{> mittLiv}}
  </div>



</template>

<template name="header">
  <div class="right-align">
    <img src="/StorebrandBeta.png" id="stb-logo" />
  </div>
</template>
