<template name="app">
  <div class="container">
    {{> header}}
    <h1>Hva om du ikke kan jobbe?</h1>
    <p>Har du tenkt over hvordan livet ditt hadde vært uten inntekt? Det kan være tøft å leve på støtten du får fra NAV hvis du ikke er i stand til å jobbe. En inntektsforsikring kan gi deg de samme økonomiske mulighetene som i dag.</p>
    <h5>Juster prisen under og se hvordan inntekten din blir påvirket hvis du ikke kan jobbe</h5>
  </div>
  <div class="stbcolor-secondary sixth">
    {{>features}}
  </div>
  <section>
    {{> pieChartModule}}
  </section>

  {{> didYouKnow}}

  <div class="stbcolor-secondary sixth">
    <div class="container">
      <div class="actions">
        <div class="text-center">
          <h5>Med inntektssikring har du uansett en fremtid å glede deg til.</h5>
          <a class="stb-btn" target="#" href="https://www.storebrand.no/privat/forsikring/uforeforsikring">Sikre inntekten din nå</a>
          <!--
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@storebrand%20#inntektssikring" data-size="large">
          Tweet
        </a>
        <div class="fb-share-button" data-href="http://konsekvens.herokuapp.com/" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkonsekvens.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
      -->
        </div>
      </div>
      <p class="footer">
      </p>
    </div>
  </div>
  <div>
    <!--style="display:none;"-->
    <!--{{> mittLiv}}-->
  </div>



</template>

<template name="didYouKnow">
  <section class="container">


  <div>
    <b>Viste du at...</b>
  </div>
  <div>
    Den månedlige prisen du valgte tilsvarer for eksempel
  </div>
  <div class="text-center">
    {{#if oneCoffee}}
      <img class="coffees" src="Kaffe1.png"/>
    {{else}}
      {{#if twoCoffees}}
        <img class="coffees" src="Kaffe2.png" />
      {{else}}
        {{#if threeCoffees}}
          <img class="coffees" src="Kaffe3.png" />
        {{else}}
          {{#if fourCoffees}}
            <img class="coffees" src="Kaffe4.png" />
          {{else}}
            {{#if fiveCoffees}}
              <img class="coffees" src="Kaffe5.png" />
            {{else}}
              {{#if moreCoffees}}
              <div class="row">
                <div class="col-xs-4">
                    <img class="coffees" src="Kaffe1.png" />
                </div>
                <div class="col-xs-8">
                    <h1> * {{coffees}}</h1>
                </div>
              </div>
              {{else}}

              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  </section>
</template>

<template name="header">
  <div class="text-right">
    <img src="/StorebrandBeta.png" id="stb-logo" />
  </div>
</template>
