<template name="archetypes">
  <div class="row center-align">
    <p>
      Jeg er:
    </p>
    <button type="button" class="btn  waves-effect waves-light" id="student">
      Student
    </button>
    <button type="button" class="btn  waves-effect waves-light" id="nyansatt">
      Nyansatt
    </button>
    <button type="button" class="btn  waves-effect waves-light" id="dreven">
      Dreven
    </button>
  </div>

  <div>Ønsket forsikringspris per måned: {{insurance_payout}} kr</div>
  <form action="#">
    <p class="range-field">
      <input class="range-field-input" type="range" id="insurance_payout_range" min="0" max="240" value="86" />
    </p>
  </form>
</template>
