<template name="features">

  <div class="stbcolor-secondary sixth">
    <div class="features container">

      <div class="row">
        <div class="input-field col-xs-4 col-md-5">
          <div class="input-field-heading">
            Alder
          </div>
          <div class="input-group" id="input-group-age">
            <input id="age_input" type="tel" class="form-control" value="{{age}}">
          </div>
          <p id="ageHelpBlock" class="form-text text-muted input-field-heading">
            18-67
          </p>
        </div>

        <div class="input-field col-xs-8 col-md-7">
          <div class="input-field-heading">
            Årslønn
          </div>
          <div class="input-group" id="input-group-gross_salary">
            <input id="gross_salary_input" type="tel" class="form-control" value="{{gross_salary}}">
            <div class="input-group-addon">kr</div>
          </div>
          <p id="ageHelpBlock" class="form-text text-muted input-field-heading">
            max 2 millioner
          </p>
        </div>
      </div>
      <a id="insurance_slider_anchor"></a>
      <div>Velg pris du vil betale i måneden
        <h1 class="truncate">{{insurance_premium}} kr</h1>
      </div>
      <div class="col-md-6" id="insurance_slider"></div>
    </div>

  </div>

  <script type="text/javascript">
    max = Session.get("net_salary") - Session.get("payout")
    console.log("i'm here");
    console.log(max);
    noUiSlider.create(insurance_slider, {
      start: [10000],
      range: {
        'min': [0],
        'max': [max]
      },
      step: 10000
    });

    insurance_slider.noUiSlider.on('update', function(values, handle) {
      value = values[handle];
      Session.set("insurance_payout", value)
      updateState()
    });

    insurance_slider.noUiSlider.on('end', function(values, handle) {

      $('#age_input').blur();
      $('#gross_salary_input').blur();
      $('#insurance_slider').blur();
      var aTag = $("#insurance_slider_anchor");
      $('html,body').animate({
        scrollTop: aTag.offset().top
      }, 'slow');

    });
  </script>

</template>
