<template name="features">

  <section class="stbcolor-secondary sixth features">
    <div class="container">
      <div class="row input-fields">

        <!-- Age input -->
        <div class="input-field-group col-xs-4 col-md-5">
          <div class="input-field-heading">
            Alder
          </div>
          <div class="input-group" id="input-group-age">
            <input id="age_input" type="tel" class="form-control input-field" value="{{age}}">
          </div>
          <p id="ageHelpBlock" class="form-text text-muted input-field-help">
            18 – 67
          </p>
        </div>

        <!-- Salary input -->
        <div class="input-field-group col-xs-8 col-md-7">
          <div class="input-field-heading">
            Årslønn
          </div>
          <div class="input-group" id="input-group-gross_salary">
            <input id="gross_salary_input" type="tel" class="form-control input-field" value="{{gross_salary}}">
            <div id="kr" class="input-group-addon">kr</div>
          </div>
          <p id="ageHelpBlock" class="form-text text-muted input-field-help">
            min. 270 000
          </p>
        </div>
      </div>

      <!-- Insurance premium slider-->
      <a id="insurance_slider_anchor"></a>
      <div class="row">
        <div class="col-md-6">
          <div>Velg forsikringspris du vil betale i måneden
            <h1 class="truncate">{{insurance_premium}} kr</h1>
          </div>
          <div class="col-xs-12" id="insurance_slider"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- No UI Slider -->
  <script type="text/javascript">
    max = Session.get("max")

    noUiSlider.create(insurance_slider, {
      start: [10000],
      range: {
        'min': [0],
        'max': [max]
      },
      step: 10000
    });

    insurance_slider.noUiSlider.on('update', function(values, handle) {
      value = values[handle];
      Session.set("insurance_payout", value)
      updateState()
    });

    insurance_slider.noUiSlider.on('end', function(values, handle) {

      $('#age_input').blur();
      $('#gross_salary_input').blur();
      $('#insurance_slider').blur();
      var aTag = $("#insurance_slider_anchor");
      $('html,body').animate({
        scrollTop: aTag.offset().top
      }, 'slow');

    });
  </script>

</template>
