<template name="mittLiv">

  <div class="center-align mittLiv">
    <h1>Mitt Liv</h1>
    <img src="/mittLivBilde.jpg" id="mittLivBilde" />
  </div>



    <div class="stbcolor-secondary sixth">
      <div class="container">

      <ul>
        <li>
          <p>
            <h5>Opptjen aktivitetspoeng som kan gi deg rimeligere forsikring.</h5>
          </p>
          <p>
             Poengene kan også brukes til andre formål som for eksempel å ta med en du er glad i på kino.
          </p>
        </li>
      </ul>
      <div class="actions">
        <div class="center-align">
          <a class="stb-btn" href="#">Last ned og prøv</a>
        </div>
      </div>
      <p class="footer">
      </p>
    </div>

     <!-- Modal Trigger -->
   <button data-target="modal1" class="btn modal-trigger">Modal</button>
   <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</div>

</template>
