/* CSS declarations go here */
.footer {
    padding-bottom: 50px;
}

/*
.lifehead{
    height: 160px;
    min-width: 100%;
    background-color: #fff;
    font-size: 22px;
    line-height: 160px;
    text-align: center;
    background-color: #da291c;
    color: #fff;
    width: 100%;
  }


#lifebody{
  width: 100%;
  background-color: #b0dfdb
}

#insurancebody{
  background-color: #e6d1b8
}

*/
.logo_powered {
     position: fixed;
     top: 0;
     right: 0;
}

.flow-text {
  font-size: 1em;
}

.logo {
  padding-left: 40%;
}

@media (max-width: 600px) {
  .logo {
    padding-left: 25%;
  }
}
