/* CSS declarations go here */
.footer {
    padding-bottom: 70px;
}

h5 {
  padding-bottom: 10px;
}

.actions {
  padding-top: 20px;
}

.logo_powered {
     position: fixed;
     top: 0;
     right: 0;
}

.flow-text {
  font-size: 1em;
}

.logo {
  padding-left: 40%;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .logo {
    padding-left: 25%;
  }
}
