/* CSS declarations go here */

.ingress {
    padding-bottom: 18px;
}
.explanation {
    padding-bottom: 9px;
}
.input-field {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#pieChart {
    padding-top: 24px;
}
.chart-help-text {
    font-size: 10px;
    padding-right: 10px;
}
.didYouKnow-image {
    padding-top: 20px;
}
.call-to-action {
    margin-top: 20px;
}
#sikre-inntekten-din {
    padding-top: 10px;
}


svg {
    padding-top: 2px;
}
.coffees {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 60px;
}
section {}
.input-field-group {
    max-width: 300px;
}
.input-field-heading {
    padding-left: 10px
}
.input-field-help {
    padding-left: 10px;
    font-size: 12px;
}
.footer {
    padding-bottom: 20px;
}
.features {
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    padding-top: 18px;
}
h5 {
    padding-bottom: 10px;
    margin: 0;
}
.actions {
    padding-top: 20px;
}
.flow-text {
    font-size: 1em;
}
#chart {
    padding-bottom: 10px;
}
#stb-logo {
    height: auto;
    width: auto;
    max-width: 130px;
    max-height: 75px;
    padding-bottom: 20px;
}
.mittLiv {
    padding-top: 20px;
}
#mittLivBilde {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 20px;
}
.paratest {
    color: white;
}
.row>div {
    margin-bottom: 10px;
}
#disclaimer {
    padding-top: 20px;
    height: auto;
    width: auto;
    max-width: 320px;
    max-height: 200px;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
  .didYouKnow {
      padding-top: 130px;
      padding-left: 100px;
  }

  #input-group-age {
    width: auto;
    max-width: 50px;
  }

  #input-group-gross_salary {
    width: auto;
    max-width: 150px;
  }
}
